body {
    text-align: center;
}

.player-box {
    border: 1px solid black;
    margin: 10px auto;
    padding: 10px;
    font-size: 30px;
    font-weight: bold;
}

.header-box {
    border: 1px solid black;
    margin: 0 auto;
}

.container {
    width: 960px;
    width: 100%;
}

.player-pick {
    border: 1px solid black;
    margin: 10px auto;
    padding: 50px;
    font-size: 30px;
    font-weight: bold;
}